/* VERSION BASE SMARTPHONE */
/* Encabezado */
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
}


/* Categorías */
.categorias__lista{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

/* DESTAQUES */
.destaques{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.destaques__barra{
    flex-grow: 1;
}


/* MEDIA QUERY TABLET */
@media(min-width:720px){
    
    /* Encabezado */
    .menu{
        column-gap: 70px;
    }

    /* Categorias */
    .categorias__lista{
        flex-wrap: wrap;
        row-gap: 1rem;
        column-gap: 1.5rem;
    }

    
}


/* MEDIA QUERY DESKTOP */
@media(min-width:1440px){

    /* Encabezado */
    .menu{
        column-gap: 105px;
        flex-wrap: nowrap;
    }

    .menu__item:nth-child(1){
        order: 1;
    }

    .menu__item:nth-child(2){
        order: 3;
    }

    .menu__item:nth-child(3){
        order: 4;
    }

    .menu__item:nth-child(4){
        order: 5;
    }

    .menu__item:nth-child(5){
        order: 2;
    }

    /* .destaques{
        display: flex;
        flex-direction:column;
        justify-content: flex-end;
    } */
}