/* IMAGENES  DE BANNER*/
.banner{
    display: grid;
    gap: 1rem 
}

.banner img:nth-child(1){
    grid-column: 1/3;
}

.banner img:nth-child(4){
    grid-column: 2/3;
    grid-row: 2/4;
}


/* EVENTOS SECCION 
DISTRIBUCION TARJETA DE EVENTO*/
.eventos__item{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto repeat(2, 1fr) auto;
}

.eventos__item img{
    grid-column: 1/3;
    grid-row: 1/2;
}

.eventos__item h3{
    grid-column: 1/3;
    grid-row: 2/3;
    align-self: center;
}

.eventos__item h4{
    grid-column: 1/2;
    grid-row: 3/4;
}

.eventos__item h5{
    grid-column: 1/2;
    grid-row: 4/5;
    align-self: end;
}

.eventos__item button{
    grid-column: 2/3;
    grid-row: 4/5;
}

/* AGENDA SECCION
DISTRIBUCION DENTRO DE TARJETAS */
.agenda__item{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(2, 1fr);
}

.agenda__item img{
    grid-column: 1/3;
    grid-row: 1/2;
}

.agenda__informacion{
    grid-column: 1/2;
    grid-row: 2/3;
}

.agenda__atraccion{
    grid-column: 2/3;
    grid-row: 2/3;
}


/* RESPONSIVIDAD TABLETAS */
@media(min-width:720px){

    /* VERSION ALURA */
    /* BANNER */
    .banner{
        column-gap: 1.5rem;
        grid-template-columns: calc(50% - 0.75rem) auto auto;
    }
    .banner img:nth-child(1){
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .banner img:nth-child(2){
        grid-column: 2/3;
    }

    .banner img:nth-child(3){
        grid-column: 2/3;
    }
    
    .banner img:nth-child(4){
        grid-column: 3/4;
        grid-row: 1/3;
    }
    

    /* MI VERSION */
    /* 
    .banner{
        gap: 1.5rem;}

    .banner img:nth-child(1){
        grid-column: 1/3;
        grid-row: 1/3;
    }

    .banner img:nth-child(2){
        grid-column: 3/4;
    }

    .banner img:nth-child(3){
        grid-column: 3/4;
    }
    
    .banner img:nth-child(4){
        grid-column: 4/5;
        grid-row: 1/3;
    } */

}

/* RESPONSIVIDAD DESKTOP */
@media(min-width:1440px){

    /* CATEGORIAS */
    .categorias{
        display: grid;
        grid-template-areas:
        "titulo titulo"
        "list dest"
        "list img";
        row-gap: 1rem;
        column-gap: 1.5rem;
        grid-template-columns: calc(50% - 0.75rem);
        grid-template-rows: auto 1fr auto;
    }

    .categorias__titulo{
        grid-area: titulo;
    }

    .categorias__lista{
        grid-area: list;
    }

    .categorias__destaques{
        grid-area: dest;
    }

    .categorias__imagen{
        grid-area: img;
    }

}
